@media (max-width: 1023px) {
    .hide-mobile {
        display: none;
    }
    .content-wrapper {
        max-width: 84rem;
    }
    .filters {
        display: none;
    }
    
}

@media (max-width: 744px) {
    .menu {
        display: none;
    }

    .header-btn {
        display: none;
    }
}