$orange:#FF8F50;
$orange-secondary: #D67843;
$dark-orange: #4E250E;
$orange-active: #b85c28;
$white: #fff;
$orange-light: #FAF7F5;
$light-pink: #dfd9db;
$grey: #6B7D8D;
$grey-100: #E0D9E0;
$grey-primary-disabled: #A0989F;
$grey-primary-text-disabled: #635A63;
$grey-secondary-disabled: #817781;
$grey-secondary-text-disabled: #494149;
$grey-secondary-text-accent: #57290F;
$grey-tertiary: #F6F6F6;
$light-light-grey: #FBF6F4;
$black-900: #2F222F;
$black-800: #342E34;
$purple: #622F60;
$purple-dark: #471F45;
$main-font-family: "Nunito", sans-serif;
$secondary-font-family: "Syne", sans-serif;
$border-radius: 1.5rem;

$tablet: 1023px;
$tablet-small: 744px;
$mobile: 390px;